/* * {
    outline: 2px solid red;
} */

body{
    background: url(background/table.jpg);
}   

.jumbo{
    background-color: transparent;
    position: relative;
    top: 200px;
    width: 100%;
    
}

.container, .row {
    max-width: 100%;
}


.cont{
    border: rgb(13, 231, 86);
    color:rgb(13, 231, 86);
}

#carddeck > img{
   bottom: -200px;
   height: 200px;
   width: 120px;
   margin-left: 10px
}

.card-deck {
    position: relative;
    align-content: middle;
    margin-left: auto;
    margin-right:auto;
    top: 200px;
    left: 100px;
}

.carddeck-comp{
    position: top;
    top: 200px;
    left: 100px;

}